@import url("./fonts.css");

/* General */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    --primary-color: #4dc9ac;
    --alternate-primary: #50d890;
    --white-color: #fff;
    --yellow-color: #fca700;
    --pink-color: #ff0266;
    --hover-color: #091619;
    --bg-color: #0a192f;
    --primary-font: 'Calibre', Helvetica, sans-serif, "Segoe-UI";
    --secondary-font: 'SF Mono', Helvetica, sans-serif, "Segoe-UI";
    --light-color: #d5d8e0;
    --alternate-light: #939aaf;
    --nav-shadow: rgba(2, 12, 27, 0.7);
    --nav-shadow-bg: rgba(10, 25, 47, 0.85);
    --light-nav: #233554;
    --bg-voice-active: #00a39c;
    --color-voice-active: #000;
    --nav-height: 100px;
    --brand-height: 60px;
    --all-transition: all ease-in-out .25s;
    --short-lines-text: 3;
    /* Fonts  sizes */
    --fsize-xxs: 13px;
    --fsize-xs: 14px;
    --fsize-sm: 15px;
    --fsize-md: 17px;
    --fsize-lg: 18px;
    --fsize-xl: 20px;
    --fsize-xxl: 22px;
    --fsize-heading: 32px;
    --b-radius: 4px;
}

@media screen and (max-width: 650px) {
    body {
        --nav-height: 70px;
        --brand-height: 50px
    }
}

body {
    background: var(--bg-color);
    color: var(--light-color);
    font-family: var(--primary-font);
    font-size: var(--fsize-xl);
    font-weight: 600;
    line-height: 1.3;
    min-height: 100%;
}

html,
body {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    overflow: auto;
}

#app {
    counter-reset: section 0;
    position: relative;
    z-index: 2;
}

.scrollable::-webkit-scrollbar {
    width: 9px;
    height: 8px;
    z-index: 5;
}

.scrollable::-webkit-scrollbar-track {
    background: var(--bg-color);
}

.scrollable::-webkit-scrollbar-thumb {
    border: 2px solid var(--bg-color);
    background: var(--alternate-light);
    border-radius: 4px;
    z-index: 5;
}

.light {
    color: var(--light-color);
}

.alternate-light {
    color: var(--alternate-light);
}

.primary-color {
    color: var(--primary-color);
}

.secondary-color {
    color: var(--pink-color);
}

.d-none {
    display: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.1;
}

h1,
h2,
h3,
a,
p,
span {
    color: var(--light-color);
}

p>a {
    display: inline-block;
    text-decoration: none;
    text-decoration-skip-ink: auto;
    position: relative;
    transition: var(--transition);
    color: var(--primary-color);
}

p>a:hover::after,
p>a:focus::after,
p>a:active::after {
    width: 100%;
}

p>a:hover,
p>a:focus,
p>a:active {
    color: var(--primary-color);
    outline: 0px;
}

p>a::after {
    content: "";
    display: block;
    width: 0px;
    height: 1px;
    position: relative;
    bottom: 0.37em;
    background-color: var(--primary-color);
    transition: var(--all-transition);
    opacity: 0.5;
}

.background-particles {
    bottom: 0;
    height: 75%;
    left: 0;
    opacity: .5;
    position: fixed;
    right: 10px;
    width: calc(100vw - 10px) !important;
    top: 4;
    z-index: 1;
}

.loader-page {
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    visibility: visible;
    opacity: 1;
    z-index: 255;
    background: var(--bg-color);
}

.loader-page.no-active {
    transition: all ease-out .5s;
    visibility: hidden;
    background: transparent;
    opacity: 0;
    z-index: -1;
}

.loader-page.no-active svg {
    transition: all ease-in-out .25s;
    visibility: hidden;
    opacity: 0;
}

.loader-page.no-active svg g {
    fill: var(--pink-color) !important;
}

.logo-splash {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-splash svg {
    width: 100px;
    height: 100px;
}

@media screen and (max-width: 450px) {
    .logo-splash svg {
        width: 80px;
        height: 80px;
    }
}

.logo-splash svg g {
    fill: var(--light-color);
    transition: fill ease-in-out 1s;
}

.logo-splash.morph-color svg g {
    fill: var(--primary-color) !important;
}

.app-container {
    max-width: 1200px;
    width: 80%;
    margin: 0 auto;
}

.app-container-fluid {
    max-width: 90%;
    width: 90%;
    margin: 0 5%;
}

@media screen and (max-width: 400px) {
    .app-container {
        width: 90%;
    }
}

.scroll-item {
    -webkit-transform: scaleY(1.26) translateY(5rem);
    transform: scaleY(1.26) translateY(5rem);
    -webkit-transform-origin: top center;
    transform-origin: top center;
    will-change: transform;
    -webkit-transition: opacity 0.8s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: opacity 0.8s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: opacity 0.8s cubic-bezier(0.165, 0.84, 0.44, 1), transform 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: opacity 0.8s cubic-bezier(0.165, 0.84, 0.44, 1), transform 0.8s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
    opacity: 0;
}

.scroll-item.active-top {
    opacity: 1;
    -webkit-transform: scaleY(1) translateY(0);
    transform: scaleY(1) translateY(0);
}

.app-nav {
    height: var(--nav-height);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

.app-nav.nav-shadow {
    background-color: var(--nav-shadow-bg);
    box-shadow: 0 10px 30px -10px var(--nav-shadow);
    backdrop-filter: blur(10px);
    transition: var(--transition);
    filter: none !important;
    pointer-events: auto !important;
}

.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.navbar-container a {
    position: relative;
    z-index: 2;
}

.app-nav .app-brand {
    color: var(--light-color);
    display: flex;
    font-family: var(--secondary-font);
    font-weight: 900;
    font-size: clamp(20px, 6vw, 40px);
    text-decoration: none;
}

.app-brand svg {
    width: var(--brand-height);
    height: var(--brand-height);
}

.app-brand svg g {
    stroke: var(--pink-color) !important;
    fill: var(--pink-color) !important;
}

.app-brand img {
    max-height: var(--brand-height);
}

.app-nav .app-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: 720px;
    counter-reset: item;
    list-style-type: none;
}

.app-menu li {
    font-family: var(--secondary-font);
    font-size: var(--fsize-xs);
    font-weight: 500;
    margin: 0 5px;
}

.app-menu li:before {
    content: counter(item, decimal-leading-zero) ". ";
    counter-increment: item;
    color: var(--pink-color);
    margin-bottom: 5px;
    font-weight: 900;
}

.app-menu li a {
    color: var(--light-color);
    text-decoration: none;
}

.app-menu li a:hover {
    transition: color ease-in-out .2s;
    color: var(--pink-color);
}

.hamburger {
    display: none;
    z-index: 150;
}

.hamburger .line {
    width: 50px;
    height: 5px;
    background-color: var(--pink-color);
    display: block;
    margin: 8px auto;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.hamburger:hover {
    cursor: pointer;
}

.hamburger.is-active .line:nth-child(2) {
    opacity: 0;
}

.hamburger.is-active .line:nth-child(1) {
    -webkit-transform: translateY(13px) rotate(45deg);
    -ms-transform: translateY(13px) rotate(45deg);
    -o-transform: translateY(13px) rotate(45deg);
    transform: translateY(13px) rotate(45deg);
}

.hamburger.is-active .line:nth-child(3) {
    -webkit-transform: translateY(-13px) rotate(-45deg);
    -ms-transform: translateY(-13px) rotate(-45deg);
    -o-transform: translateY(-13px) rotate(-45deg);
    transform: translateY(-13px) rotate(-45deg);
}

@media screen and (max-width: 900px) {
    main.blur>* {
        filter: blur(5px) brightness(0.7);
        transition: filter ease-in-out .25s;
    }
    .app-menu {
        position: fixed;
        top: 0;
        right: 0;
        width: 80%;
        height: 100vh;
        flex-flow: column nowrap;
        align-items: center;
        padding: 150px 100px;
        background: var(--bg-color);
        z-index: 100;
        transition: all ease-in-out .25s;
        box-shadow: -10px 0px 30px -15px var(--nav-shadow);
        opacity: 0;
        right: -100%;
    }
    .app-menu.active {
        right: 0;
        opacity: 1;
    }
    .app-menu li {
        text-align: center;
    }
    .app-menu li a {
        display: inline-block;
        width: 100%;
        padding: 3px 20px 20px;
    }
    .hamburger {
        display: block;
    }
    .hamburger {
        transform: scale(.8);
    }
}

@media screen and (max-width: 650px) {
    .app-menu {
        padding: 130px 40px;
    }
    .hamburger {
        transform: scale(.68);
    }
}

@media screen and (max-width: 400px) {
    .app-menu {
        padding: 100px 20px;
    }
    .hamburger {
        transform: scale(.58);
    }
}

.loader span {
    color: var(--light-color);
    text-shadow: 0 0 0 var(--pink-color);
    -webkit-animation: loading 1s ease-in-out infinite alternate;
    animation: loading 1s ease-in-out infinite alternate;
}

.loader span:nth-child(2) {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

@keyframes loading {
    to {
        text-shadow: 20px 0 70px var(--primary-color);
        color: var(--pink-color);
    }
}

section,
header {
    position: relative;
    z-index: 2;
}

main {
    padding-top: var(--nav-height);
}

.padding-section {
    padding: 0px 80px;
}

.section-container {
    padding: 150px 0px 30px;
}

.section-container:first-of-type {
    padding-bottom: 150px;
}

.section-container.last-container {
    padding-bottom: 150px !important;
}

@media screen and (max-width: 900px) {
    .section-container {
        padding: 90px 0px 30px;
    }
}

@media screen and (max-width: 650px) {
    .section-container {
        padding: 80px 0px 30px;
    }
    .padding-section {
        padding: 0px 12px;
    }
}

@media screen and (max-width: 360px) {
    .section-container {
        padding: 80px 0px 0px;
    }
}

.app-header {
    height: calc(100vh - var(--nav-height));
    min-height: calc(100vh - var(--nav-height));
    display: flex;
    align-items: center;
}

.heading {
    margin: 0;
    font-size: clamp(40px, 8vw, 80px);
}

.app-hero {
    width: 100%;
}

.app-title {
    display: flex;
    flex-flow: column nowrap;
    position: relative;
    z-index: 2;
}

.app-title span:first-of-type,
.app-title span:last-of-type {
    color: var(--primary-color);
    font-family: var(--secondary-font);
    font-size: clamp(var(--fsize-sm), 5vw, var(--fsize-lg));
    margin: 0px 0px 30px 4px;
}

.app-title span:last-of-type {
    color: var(--light-color);
    margin: 0;
    letter-spacing: 1px;
}

.app-description {
    font-family: var(--primary-font);
    color: var(--alternate-light);
    margin: 28px 0px 0px;
    max-width: 540px;
}

.app-btn-link {
    display: inline-block;
    color: var(--primary-color);
    background-color: transparent;
    border: 1px solid var(--primary-color);
    border-radius: var(--b-radius);
    padding: 1.25rem 1.75rem;
    font-size: var(--fsize-sm);
    font-family: var(--secondary-font);
    font-weight: 700;
    line-height: 1;
    text-decoration: none;
    cursor: pointer;
    margin-top: 30px;
    position: relative;
}

.app-btn-link:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    background-color: var(--primary-color);
    transition: transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) 0s, -webkit-transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
    -webkit-transform-origin: top left;
    transform-origin: top left;
}

.app-btn-link:hover:after {
    -webkit-transform-origin: bottom left;
    transform-origin: bottom left;
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
}

.app-btn-link:hover {
    color: var(--white-color);
}

.app-hero .app-btn-link:last-of-type {
    margin-top: 10px;
}

@media screen and (max-width: 500px) {
    .app-title span:first-of-type,
    .app-title span:last-of-type {
        margin: 0px 0px 20px 4px;
    }
    .app-description {
        font-size: var(--fsize-sm);
        margin-top: 10px;
    }
    .app-btn-link {
        padding: 1.1rem 1.5rem;
        font-size: var(--fsize-xs);
    }
}

@media screen and (max-width: 360px) {
    .app-title span:first-of-type,
    .app-title span:last-of-type {
        margin: 0px 0px 14px 4px;
        font-size: var(--fsize-xs);
    }
    .app-description {
        font-size: var(--fsize-sm);
        margin-top: 10px;
    }
    .app-btn-link {
        padding: 1.1rem 1.5rem;
        font-size: var(--fsize-xs);
    }
}

.app-section-title {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    margin: 10px 0px 40px;
    width: 100%;
    font-size: clamp(26px, 5vw, var(--fsize-heading));
    white-space: nowrap;
}

.app-section-title::before {
    position: relative;
    bottom: 4px;
    content: "0" counter(section) ".";
    counter-increment: section 1;
    margin-right: 10px;
    color: var(--pink-color);
    font-family: var(--secondary-font);
    font-size: clamp(var(--fsize-lg), 4vw, var(--fsize-xl));
    font-weight: 600;
}

.app-section-title::after {
    content: "";
    display: block;
    position: relative;
    top: -5px;
    width: 300px;
    height: 1px;
    margin-left: 20px;
    background-color: var(--light-nav);
}

.about-inner {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 50px;
}

.about-inner>.resume-container {
    font-weight: 400;
}

.about-inner p {
    margin: 0px 0px 15px;
    color: var(--alternate-light);
}

.img-about {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.img-about img {
    max-width: 100%;
    border-radius: var(--b-radius);
}

.img-about .wrapper-img {
    max-width: 350px;
    box-shadow: 0 10px 30px -15px var(--nav-shadow);
    transition: var(--all-transition);
    display: block;
    position: relative;
    width: 100%;
    border-radius: var(--b-radius);
    background-color: var(--primary-color);
    padding: 20px 0px 0px;
    display: flex;
    align-items: flex-end;
}

.img-about .wrapper-img img {
    position: relative;
    border-radius: var(--border-radius);
    mix-blend-mode: multiply;
    filter: grayscale(100%) contrast(1);
    transition: var(--all-transition);
}

.img-about .wrapper-img:hover img {
    filter: grayscale(0) contrast(100%);
}

.img-about .wrapper-img::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: var(--b-radius);
    transition: var(--all-transition);
    border: 2px solid var(--primary-color);
    top: 15px;
    left: 15px;
    z-index: -1;
}

@media (max-width: 768px) {
    .about-inner {
        display: block;
    }
}

@media (max-width: 500px) {
    .about-inner p {
        font-size: var(--fsize-md);
    }
    .img-about .wrapper-img {
        max-width: 300px;
    }
}

@media (max-width: 450px) {
    .img-about .wrapper-img {
        max-width: 280px;
    }
}

@media (max-width: 360px) {
    .img-about .wrapper-img {
        max-width: 250px;
    }
}


/* experience */

.rb-container {
    display: block;
    position: relative;
}

.rb-container ul.rb,
.skills {
    margin: 2.5em 0;
    padding: 0;
    display: inline-block;
}

@media screen and ( max-width: 500px) {
    .rb-container ul.rb,
    .skills {
        margin: 0;
        padding: 0;
        display: inline-block;
    }
}

.rb-container ul.rb li {
    list-style: none;
    margin: auto;
    margin-left: 20px;
    min-height: 50px;
    border-left: 1px solid var(--light-color);
    padding: 0 0 50px 30px;
    position: relative;
}

.rb-container ul.rb li:last-child {
    border-left: 0;
}

.rb-container ul.rb li::before {
    position: absolute;
    left: -18px;
    top: -5px;
    content: " ";
    border: 8px solid var(--light-color);
    border-radius: 500%;
    background: var(--primary-color);
    height: 20px;
    width: 20px;
    transition: all 500ms ease-in-out;
}

.rb-container ul.rb li:hover::before {
    background: var(--pink-color);
}

.rb-container ul.rb li:hover::before {
    /*  border-color: var(--pink-color); */
    transition: all .25s ease-in-out;
}

ul.rb li .timestamp {
    display: block;
    color: var(--primary-color);
    position: relative;
    font-size: var(--fsize-xs);
    margin-bottom: 5px;
}

ul.rb li p {
    color: var(--alternate-light);
    font-size: var(--fsize-md);
    font-weight: 400;
}

ul.rb li.short-description p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: var(--short-lines-text);
    height: -webkit-calc(var(--short-lines-text)* 1.8);
    height: calc(var(--short-lines-text)* 1.8);
    overflow-y: hidden;
    transition: height ease-in-out .25s;
}

ul.rb li.short-description p a.see-more,
ul.rb li p a.see-less {
    display: inline-block;
}

ul.rb li p a.see-more,
ul.rb li.short-description p a.see-less {
    display: none;
}

.pre-wrapp {
    white-space: pre-wrap;
}

ul.rb .item-title {
    color: var(--light-color);
}

ul.rb .item-subtitle {
    color: var(--alternate-light);
    font-size: var(--fsize-md);
    display: block;
    margin-top: 8px;
}

ul.rb .item-toogle-btn {
    margin-bottom: 0px !important;
}

.item-toogle-btn a {
    margin: 0;
    font-size: var(--fsize-sm);
}

.skills {
    padding: 0 18px;
    width: 100%;
}

.skills-list {
    list-style: none;
    padding: 15px 20px;
    display: grid;
    grid-template-columns: repeat(3, minmax(60px, 1fr));
    grid-gap: 8px;
}

.skills-list li {
    display: flex;
    align-items: center;
    justify-content: center;
}

.skills-list img {
    max-width: 50px;
    filter: grayscale(30%) contrast(1);
}

.projects-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-gap: 15px;
}

.project {
    border-radius: var(--b-radius);
    overflow: hidden;
    box-shadow: 0 20px 30px -15px var(--nav-shadow);
    background-color: var(--light-nav);
    position: relative;
}

.project .project-img {
    height: 170px;
}

.project img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(20%) blur(1px) contrast(1);
    transition: filter ease-in-out .3s;
}

.project:hover img {
    filter: grayscale(20%) blur(0) contrast(1);
}

.project .project-content {
    padding: 2rem 1.75rem 60px;
}

.project .project-description {
    color: var(--alternate-light);
    font-size: 17px;
    font-weight: 400;
}

.project .project-title {
    color: var(--light-color);
    font-size: var(--fsize-xxl);
    margin: 0px 0px 10px;
}

@media screen and (max-width: 450px) {
    .project .project-title {
        font-size: var(--fsize-xl);
    }
}

.project .project-link {
    text-decoration: none;
    position: static;
    transition: color ease-in-out .25s;
}

.project:hover .project-link {
    color: var(--primary-color);
}

.project .project-link::before {
    content: "";
    display: block;
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}

.project-technologies {
    display: flex;
    align-items: flex-end;
    -webkit-box-flex: 1;
    flex-grow: 1;
    flex-wrap: wrap;
    padding: 0px;
    margin: 20px 0px 0px;
    list-style: none;
}

.project-technologies li {
    font-family: var(--secondary-font);
    font-size: var(--fsize-xxs);
    line-height: 1.75;
    margin-right: 15px;
}

.project-share {
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    position: absolute;
    right: 1.75rem;
    bottom: 15px;
    width: 100%;
}

.project-share a {
    z-index: 5;
}

.project-share a svg {
    stroke: var(--light-color) !important;
}

.project-share a:hover svg {
    stroke: var(--primary-color) !important;
}

.btn-container-center {
    display: flex;
    justify-content: center;
}

.contact-center {
    display: block;
    margin-bottom: 5px;
    color: var(--primary-color);
    text-align: center;
}

.text-center {
    text-align: center;
}

.message-contact {
    max-width: 500px;
    margin: auto;
    font-size: var(--fsize-md);
}

.contact-center::before {
    color: var(--primary-color);
}

.contact-center::after {
    display: none;
}

.contact-subtitle {
    color: var(--primary-color);
    text-align: center;
}

footer {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    min-height: 70px;
    padding: 15px;
    text-align: center;
}

footer.socials {
    display: block;
    width: 100%;
    max-width: 270px;
    margin: 0px auto 10px;
    color: var(--alternate-light);
}

.socials a {
    display: inline-block;
    text-decoration: none;
    text-decoration-skip-ink: auto;
    color: inherit;
    position: relative;
    transition: var(--all-transition);
}

.socials ul {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
    list-style: none;
    gap: 25px;
}

.socials ul a svg {
    width: 25px;
    height: 25px;
}

footer .copyright {
    margin-top: 20px;
    margin-bottom: 65px;
    font-size: var(--fsize-xxs);
    font-family: var(--secondary-font);
    text-align: center;
}

@media screen and (max-width: 500px) {
    .socials ul {
        gap: 15px;
    }
    .socials ul a svg {
        width: 20px;
        height: 20px;
    }
}

.socials ul a:hover svg {
    stroke: var(--primary-color);
}


/* LANG TOOGLE */

.buttons-controls {
    display: flex;
    align-items: center;
    gap: 10px;
}

.switch {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    transform: scale(.85);
}

.switch>span {
    position: absolute;
    top: 14px;
    pointer-events: none;
    font-family: 'Helvetica', Arial, sans-serif;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .06);
    width: 50%;
    text-align: center;
}

input.check-toggle-round-flat:checked~.off {
    color: var(--pink-color);
}

input.check-toggle-round-flat:checked~.on {
    color: #fff;
}

.switch>span.on {
    left: 0;
    padding-left: 2px;
    color: var(--pink-color);
}

.switch>span.off {
    right: 0;
    padding-right: 4px;
    color: #fff;
}

.check-toggle {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden;
}

.check-toggle+label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input.check-toggle-round-flat+label {
    padding: 2px;
    width: 97px;
    height: 35px;
    background-color: var(--pink-color);
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;
    border-radius: 60px;
}

input.check-toggle-round-flat+label:before,
input.check-toggle-round-flat+label:after {
    display: block;
    position: absolute;
    content: "";
}

input.check-toggle-round-flat+label:before {
    top: 2px;
    left: 2px;
    bottom: 2px;
    right: 2px;
    background-color: var(--pink-color);
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;
    border-radius: 60px;
}

input.check-toggle-round-flat+label:after {
    top: 4px;
    left: 4px;
    bottom: 4px;
    width: 48px;
    background-color: #fff;
    -webkit-border-radius: 52px;
    -moz-border-radius: 52px;
    -ms-border-radius: 52px;
    -o-border-radius: 52px;
    border-radius: 52px;
    -webkit-transition: margin 0.2s;
    -moz-transition: margin 0.2s;
    -o-transition: margin 0.2s;
    transition: margin 0.2s;
}

input.check-toggle-round-flat:checked+label:after {
    margin-left: 44px;
}